//colors
$white-color:#fff;
$hover-color:#003090;
$dark-color:#2C2C2C;
$grey-color:#C5C5C5;
$title-color:#0C56A4;
$green-color:#20BA26;
$blue-color:#263B92;
$red-color: #D90000;
$orange:orange;
$orange1:#DB4B33;
$black:#000000;
$tag-bg-color:#DADADA;
$gray1: #F6F6F6;
$white: #fff;
$breadcrumb-divider: quote(">");

$lg: 'only screen and (min-width: 1200px)';
$xl: 'only screen and (min-width: 992px)';
$md:'only screen and (min-width: 768px)';
$large-mobile:'only screen and (max-width: 767px)';
$small-mobile: 'only screen and (max-width: 479px)';
$mini-mobile: 'only screen and (max-width: 320px)';
